<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    
</head>
<body>
    <br />
    <div>
        <h4>Hii I am Soubhagya..</h4>
    </div>
    <table width="50%" class="table">
        <tr>
            <td align="center" style="background-color:deeppink">
                <span style="font-size:25px;color:white"> Welcome To Cloud4Code Pvt Ltd 2022 </span>
                <br />
                <br />
            </td>

        </tr>

        <tr align="center">
            <td>
                <br />
                <br />
                Dear [name]
                <br />
                <br />
                Thank you for registering with us!
                <br />


                Regards,
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td align="center" style="background-color:green">
                <br />
                <br />
                <span style="font-size:15px;color:white";>Soubhagya C4C Pvt Ltd 2022;&copy;  </span>
                <br />
                <
                <br />
                <br />
            </td>

        </tr>

    </table>
    <br />
    <div>
        The ASP.NET Web API is an extensible framework for building HTTP based services that can be accessed in different applications on different platforms such as web, windows, mobile etc. It works more or less the same way as ASP.NET MVC web application except that it sends data as a response instead of html view. It is like a webservice or WCF service but the exception is that it only supports HTTP protocol.
    </div>
    
</body>
</html>  